<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bolsover.AlibreShortcuts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <Bolsover.AlibreShortcuts.Properties.Settings>
            <setting name="CtrlAltShiftColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="CtrlAltColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="CtrlShiftColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="AltShiftColor" serializeAs="String">
                <value>Chartreuse</value>
            </setting>
            <setting name="CtrlColor" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="AltColor" serializeAs="String">
                <value>MediumOrchid</value>
            </setting>
            <setting name="ShiftColor" serializeAs="String">
                <value>Violet</value>
            </setting>
            <setting name="NoModifierColor" serializeAs="String">
                <value>Bisque</value>
            </setting>
            <setting name="ModifierKeyColor" serializeAs="String">
                <value>Bisque</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="KeyTextSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="AlibreIcon" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="HintTextSize" serializeAs="String">
                <value>13</value>
            </setting>
        </Bolsover.AlibreShortcuts.Properties.Settings>
    </userSettings>
</configuration>