<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.14.0" targetFramework="net481" />
  <package id="System.Linq" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net481" />
  <package id="XamlMath.Shared" version="2.1.0" targetFramework="net481" />
</packages>